/*
* styles for settings page
*/
.cptch_example_fields_actions {
	float: left;
    height: 18px;
	width: 140px;
	position: relative;
	top: -7px;
	padding: 2px 0;
}
.cptch_example_fields_actions img {
	position: relative;
	width: 30px;
	top: 6px;
}
.cptch_block {
	direction: ltr;
}
input.cptch_settings_input {
    width: 252px;
}
.cptch_span {
    color: #888888;
    font-size: 10px;
}
/*
* styles help tooltips
*/
.cptch_help_box {
    background-image: url("../images/tooltip_icons.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 29px;
    position: relative;
    margin: -3px 5px 3px;
    width: 29px;
    clear: none !important;
}
.cptch_hidden_help_text {
    background: #F4F4F4;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    left: 40px;
    padding: 5px 10px;
    position: absolute;
    width: 240px;
    line-height: 1.5;
}
.cptch_hidden_help_text:before {
    content: url("../images/help.png");
    left: -10px;
    position: absolute;
    top: 7px;
}
/*
* frontend styles
*/
form input.cptch_input {
    padding-left: 8px;
    padding-right: 8px;
}