
/*** SUPERFISH STYLES ***/
/* http://users.tpg.com.au/j_birch/plugins/superfish/ */
/* Superfish v1.4.8*/

.sf-sub-indicator
{
	display:none;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			4.1em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			-10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			-10em; /* match ul width */
	top:			0;
}
.sf-menu {
	/*float:			left;*/
	margin-bottom:	1em;
}
.sf-menu a {
	/*border-left:	1px solid #fff;
	border-top:		1px solid #fff;*/
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#ededed;
}
.sf-menu li {
	background:		#ededed;
	
}
.sf-menu li li {
	background:		#f1f1f1;
	border-left:	1px solid #fff;
	border-bottom:	1px solid #fff;
}
.sf-menu li li li {
	background:		#ededed;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#ededed;
	outline:		0;
}
ul.sf-menu li a:hover
{
	background:#ededed;
}
/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
